
body {
	color: #000000;
	background-color: #FFFFFF;
}

.polycontroller {
	font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px dotted #aaa;
    clear: both;
	font-weight: bold;
}

h1 {
	font-size: 24pt;
	margin-top: 12px;
}

p {
	font-size: 12pt;
}

pre, code {
    font-family: ProFontWindows, Courier, "Courier New", monospace;
    font-size: 12px;
}

#footer p {
	font-size: 10pt;
}

