#
# This is the image config for PC-MB-001/FIRMWARE.
# It contains all image-specific options needed to build the main board
# firmware but not, for example, the bootloader.
#

# Applications
APPS_DHCP=y
APPS_MONITOR=n
APPS_NETWORK=y
APPS_OWFSD=y
APPS_RESOLV=y
APPS_SERIAL=y
APPS_SERIAL_SHELL=y
APPS_SHELL=y
APPS_SHELL_FREE=y
APPS_SHELL_NETSTAT=y

# Hardware Drivers
DRIVERS_DS2482=y
DRIVERS_DS2482_APU=y
DRIVERS_ENC28J60=n
DRIVERS_ENC424J600=y
DRIVERS_I2C=y
DRIVERS_SPI=y
DRIVERS_UART=y
DRIVERS_UART_TXBUF_SIZE=32
DRIVERS_UART_RXBUF_SIZE=32

# Library Functions
LIB_CONTIKI=y
#LIB_CONTIKI_IPV6=y
LIB_INIT=y
#LIB_LZO=y
LIB_RESOLV_HELPER=y
LIB_SETTINGS=y
LIB_STACK=y
LIB_ONEWIRE=y
